@media screen and (max-width: 1400px) {
  body {
    flex-direction: column-reverse;
  }

  .rightSideWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Disable Hover Effects */

  .summaryTable:hover {
    background-color: #fff !important;
    color: inherit !important;
    transform: none !important;
    transition: none !important;
  }
  .summaryTable:hover .summaryToDo img {
      background-color: #2a3647 !important;
      content: url("/assets/icon/summary/edit_white.svg") !important;
      transition: none !important;
  }

  .summaryTable:hover .summaryDone img {
      background-color: #2a3647 !important;
      content: url("/assets/icon/summary/done_white.svg") !important;
      transition: none !important;
  }
}

@media screen and (max-width: 800px) {
  main {
    padding: 32px 32px 32px 32px;
  }

  .summaryMainContent {
    padding: 0px 32px 0px 32px;
  }

  .summaryUrgent {
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .summaryHeadline {
    flex-direction: column;
    align-items: flex-start;
  }

  .summaryHeadline p {
    order: 2;
  }

  .separatorBlue {
    order: 3;
    width: 100px;
    height: 2px;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 16px 16px 16px 16px;
  }

  .summaryMainContent {
    padding: 0px 16px 0px 16px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .summaryMainContent {
    margin-top: 0px;
  }
}

/* Height */

@media screen and (max-height:900px) {
  .summaryTable {
    height: 125px;
  }
}

@media screen and (max-height:750px) {
  .summaryMainContent {
    height: 50%;
  }
  .summaryTable {
    height: 100px;
  }
  .summaryToDo,
  .summaryDone,
  .summaryUrgent,
  .summeryBottomContent .summaryTable .count {
    transform: scale(0.7);
    justify-content: space-evenly;
    width: 100%;
  }

  .summaryDeadline p, .summaryDeadline span {
    padding: 0px; 
  }
}

@media screen and (max-height:700px) {
  .summaryTable {
    height: 85px;
  }
}