/* Board CSS */

.mainContent {
    flex: 1;
    background-color: #f8f9fa;
    overflow-y: auto;
  }

.boardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.boardContainer h2 {
    font-size: 60px;
}

.boardControls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boardInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgb(168, 168, 168);
    
}

.boardInputContainer input[type="text"] {
    border: none;
    flex: 1;
    outline: none;
    background-color: #ffffff;
}

.boardInputContainer button {
    background-image: url("./../assets/icon/search_Button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 15px;
    background-color: white;
}

.boardInputContainer button:hover {
    background-color: #f6f7f8;
    cursor: pointer;
    border-radius: 50%;
}

.boardInputContainer .separator {
    padding: 0 10px;
    color: #888;
    background-color: #ffffff;
}

.boardAddTask {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    background-color: rgba(42, 54, 70);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none !important;
}  

.boardAddTask p, 
.boardAddTask img {
    background-color: rgba(42, 54, 70);
}

.boardAddTask:hover,
.boardAddTask:hover * {
  background-color: #29abe2;
  transition: inherit;
}

.boardSectionsContainer {
    display: flex;
    padding: 20px 40px;
    gap: 20px;
}

.boardSectionsSubContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
  
.boardSection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 50%;
}

.boardSection .sectionPlus {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("./../assets/icon/plus_button-section-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.boardSection .sectionPlus:hover {
    background-image: url("./../assets/icon/plus_button-section-blue.svg");
}

.boardButton {
    background-color: rgb(231, 231, 231);
    color: rgb(183, 183, 183);
    border: 1px dashed rgb(199, 199, 199);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.boardButton:hover {
    background-color: rgb(220, 220, 220);
    color: rgb(163, 163, 163);
}
