body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* Edit Contact Section */

.editContactOverlay {
  width: 1200px;
  height: 600px;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.editContactLeftSide {
  width: 450px;
  height: 100%;
  background-color: #2a3647;
  border-radius: 32px 0px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftSideContentWrapper {
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  gap: 24px;
  padding: 0px 32px;
}

.editContactRightSide {
  width: 600px;
  height: 100%;
}

.logoContainer {
  width: 100%;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.joinLogoSmall {
  background-color: #2a3647;
}

h1 {
  color: #ffffff;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 60px;
}

P {
  color: #ffffff;
  background-color: #2a3647;
  font-size: 28px;
}

.editContactHeadline {
  width: 100%;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blueUnderline {
  width: 26%;
  height: 2px;
  border-radius: 2px;
  background-color: #29abe2;
}

.rightSideContentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0px 32px 32px 0px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formInput {
  border: 1px solid gray;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0px 8px;
  font-size: 18px;
}

.contactForm {
  height: 100%;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}

.closeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
}

.closeButton:hover {
  text-decoration: none;
}

.closeButton > svg {
  width: 24px;
  height: 24px;
}

.closeButton > span {
  background-color: #ffffff;
}

.contactPicture {
  background-color: #ffffff;
}

.contactPicture > img {
  background-color: #ffffff;
  width: 120px;
  height: 120px;
}

.formSection {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: #ffffff;
}

.formButtons > button {
  /* width: 110px; */
  padding: 18px;
  border: 1px solid #2a3647;
  border-radius: 8px;
  font-size: 18px;
}

.deleteButton {
  color: #2a3647;
  font-weight: bold;
  background-color: #ffffff;
}

.saveButton {
  color: #ffffff;
  font-weight: bold;
  background-color: #2a3647;
}

.deleteButton,
.saveButton,
.cancelButton,
.createContactButton {
  cursor: pointer;
}

/* Add Contact Section */

.addContactOverlay {
  width: 1050px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addContactLeftSide {
  width: 450px;
  height: 100%;
  background-color: #2a3647;
  border-radius: 32px 0px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addContactHeadline {
  width: 100%;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cancelButton {
  color: #2a3647;
  font-weight: bold;
  background-color: #ffffff;
}

.createContactButton {
  color: #ffffff;
  font-weight: bold;
  background-color: #2a3647;
}

/* Main Content Page Styling */

.rightSideWrapper {
  width: 100%;
  height: 100vh;
  background-color: #f6f7f8;
}

/* Contact List Sytling */

.contactList {
  background-color: #ffffff;
  min-width: 456px;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addContactButton {
  width: 352px;
  height: 56px;
  background-color: #2a3647;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  text-decoration: none !important;
  margin: 24px 0px;
}

.addContactButton:hover,
.addContactButton:hover * {
  background-color: #29abe2;
}

.addContactButton:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

.addContactButton > p {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2a3647;
}

.addPersonIcon {
  background-color: #2a3647;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.detailedContactSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline {
  width: 570px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 64px;
  margin-left: 32px;
}

.headline > h1 {
  font-size: 60px;
  font-weight: 700;
  color: #000000;
  background-color: #f6f7f8;
}

.divider {
  height: 60px;
  width: 3px;
  border-radius: 3px;
  background-color: #29abe2;
}

.headline > p {
  font-size: 26px;
  font-weight: 400;
  color: #2a3647;
  background-color: #f6f7f8;
}

/* Floating Contact Styling*/

.floatingContactContainer {
  padding: 32px 0px 0px 64px;
}

.profileInformation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.profileInformation > p {
  font-size: 46px;
  background-color: #f6f7f8;
  color: #000000;
}

.profileHeadSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}

.profileWrapper {
  display: flex;
  gap: 54px;
}

.editIcon,
.deleteIcon {
  display: flex;
  flex-direction: row;
}

.editIcon > a:hover,
.deleteIcon > a:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.editIcon > a {
  display: flex;
  gap: 8px;
}

.editIcon > a:hover * {
  color: #70c5ea !important;
}

.deleteIcon > a {
  display: flex;
  gap: 8px;
}

.editIcon > a > p {
  color: #000000;
  font-size: 16px;
  background-color: #f6f7f8;
}

.deleteIcon > a > p {
  color: #000000;
  font-size: 16px;
  background-color: #f6f7f8;
}

.editIcon > a:hover p {
  color: #70c5ea !important;
  fill: #70c5ea; /* Für SVG-Symbole */
}

.deleteIcon > a:hover p {
  color: #70c5ea !important;
  fill: #70c5ea;
}

.editIcon > a:hover svg {
  fill: #70c5ea;
}

.deleteIcon svg path {
  fill: #2a3647;
}

.deleteIcon > a:hover svg path {
  fill: #29abe2;
}

.symbols {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
}

.contactInformation {
  padding: 26px 0px;
}

.contactInformation > p {
  font-size: 20px;
  font-weight: 400;
  background-color: #f6f7f8;
  color: #000000;
}

.bottomPart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}

.bottomPart > p {
  font-size: 16px;
  background-color: #f6f7f8;
  color: #000000;
}

.blue {
  color: #70c5ea !important;
}

/* Contact Template Styling */

.contact {
  display: flex;
  align-items: center;
  gap: 36px;
  border-radius: 10px;
  padding: 12px 48px;
}

.contact:hover {
  background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
  cursor: pointer;
}

.contact:hover > .personalInformationShort > p {
  background-color: transparent;
}

.contact > img {
  width: 42px;
  height: 42px;
}

.personalInformationShort > p {
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
}

.small {
  font-size: 16px !important;
}

/* Overlay Styling */

/* Hintergrund-Overlay */
.overlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}
