* {
    background-color: RGB(246, 247, 248);
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 100px;
}

.sign-up-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 280px;
    gap: 35px;
}