* {
  margin: 0px;
  padding: 0px;
  border: 0 solid transparent;
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.d_none {
  display: none !important;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-dark {
  background-color: rgba(42, 54, 70);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.btn-dark:hover {
  cursor: pointer;
  background-color: rgba(42, 170, 226);
  box-shadow: 0px 3px 5px 0px rgba(180, 180, 180);
  transition-duration: 0.2s;
}

.btn-light {
  border: 1px solid rgba(42, 54, 70);
  border-radius: 5px;
  color: rgba(42, 54, 70);
  font-weight: bold;
  padding: 10px;
}

.btn-light:hover {
  cursor: pointer;
  border: 1px solid rgba(42, 170, 226);
  color: rgba(42, 170, 226);
  box-shadow: 0px 3px 5px 0px rgba(180, 180, 180);
  transition-duration: 0.2s;
}