* {
<<<<<<< HEAD
    margin: 0px;
    padding: 0px;
    border: 0 solid transparent;
    background-color: #f6f7f8;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .d_none {
    display: none !important;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
=======
  margin: 0px;
  padding: 0px;
  border: 0 solid transparent;
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.d_none {
  display: none !important;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
>>>>>>> 9afaa1f9569b8fc8fc0dc8e24a29a2fb1828f453
