/* Add Contact Section */
.addContactOverlay {
  height: 580px;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addContactLeftSide {
  width: 468px;
  height: 100%;
  background-color: #2a3647;
  border-radius: 32px 0 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addContactHeadline {
  width: 100%;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Cancel Button */
.cancelButton {
  color: #2a3647;
  font-weight: bold;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 4px;
}

.cancelButton > p {
  font-size: 20px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.cancelButton:hover {
  border: 1px solid #29abe2;
  fill: #29abe2 !important;
  color: #29abe2;
  transition: outline-color 0.25s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.cancelButton:hover > p,
.cancelButton:hover svg path {
  color: #29abe2;
  fill: #29abe2;
  transition: outline-color 0.25s ease;
}

/* Create Contact Button */
.createContactButton {
  color: #ffffff;
  font-weight: bold;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  gap: 4px;
}

.createContactButton > p {
  font-size: 20px;
}

.createContactButton:hover {
  border: 1px solid #70c5ea;
  background-color: #70c5ea;
  transition: background-color 0.25s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.createContactButton:hover * {
  background-color: transparent;
}

/* Contact Form */
.contactForm {
  position: relative;
  display: flex;
  align-items: center;
}

.formInput:focus {
  outline-color: #29abe2;
}

/* Form Input Icons */
.nameIcon,
.mailIcon,
.phoneIcon {
  position: absolute;
  right: 30px;
  pointer-events: none;
}

.nameIcon {
  top: 175px;
}

.mailIcon {
  top: 260px;
}

.phoneIcon {
  top: 343px;
}

/* Close Container */
.closeContainer {
  display: none;
  position: absolute;
  right: 24px;
  top: -118px;
  flex-direction: row-reverse;
}

.closeContainer > a > svg > g > path {
  color: #ffffff !important;
  fill: #ffffff !important;
}

/* Media Queries */
@media (max-width: 1350px) {
  .joinLogoSmall {
    display: none;
  }

  .addContactOverlay {
    flex-direction: column;
  }

  .addContactLeftSide {
    width: 396px;
    min-height: 351px;
    border-radius: 32px 32px 0 0;
    align-items: flex-start;
  }

  h1 {
    font-size: 46px !important;
  }

  p {
    font-size: 20px !important;
  }

  .cancelButton {
    display: none;
  }

  .closeButton > a {
    display: none;
  }

  .closeContainer {
    display: flex;
  }

  .contactPicture > svg {
    position: absolute;
    background-color: transparent;
    z-index: 50;
    top: 125px;
    right: 125px;
  }

  .rightSideContentWrapper {
    flex-direction: column;
  }

  .formInput {
    width: 364px !important;
    height: 42px;
    font-size: 18px;
  }

  .contactForm {
    height: 800px !important;
    background-color: transparent !important;
    gap: 0 !important;
    justify-content: flex-start !important;
    padding: 48px;
  }

  .formSection {
    background-color: transparent !important;
    gap: 14px !important;
  }

  .formButtons {
    justify-content: center;
    margin-top: 24px;
  }

  .nameIcon {
    right: 60px;
    top: 60px;
  }

  .mailIcon {
    right: 60px;
    top: 128px;
  }

  .phoneIcon {
    right: 60px;
    top: 195px;
  }
}

@media (max-width: 1080px) {
  .overlayBackground {
    height: 100% !important;
  }
}

@media (max-width: 500px) {
  .addContactLeftSide {
    width: 310px;
  }

  h1 {
    font-size: 36px !important;
  }

  p {
    font-size: 18px !important;
  }

  .contactPicture > svg {
    top: 110px;
    right: 85px;
  }

  .editContactRightSide {
    width: 310px;
  }

  .formInput {
    width: 280px !important;
    height: 50px;
  }
}
