/* Edit Contact Section */
.editContactOverlay {
  width: 1200px;
  height: 600px;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.editContactLeftSide {
  width: 450px;
  height: 100%;
  background-color: #2a3647;
  border-radius: 32px 0px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftSideContentWrapper {
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  gap: 24px;
  padding: 0px 32px;
}

.editContactRightSide {
  /* width: 800px; */
  height: 100%;
}

.logoContainer {
  width: 100%;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.joinLogoSmall {
  background-color: #2a3647;
}

h1 {
  color: #ffffff;
  background-color: #2a3647;
  font-weight: 700;
  font-size: 60px;
}

P {
  color: #ffffff;
  background-color: #2a3647;
  font-size: 28px;
}

.editContactHeadline {
  width: 100%;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blueUnderline {
  width: 26%;
  height: 2px;
  border-radius: 2px;
  background-color: #29abe2;
}

.rightSideContentWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 32px 32px 0px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formInput {
  border: 1px solid gray;
  width: 422px;
  height: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0px 8px;
  font-size: 18px;
}

.formInput:focus {
  outline-color: #29abe2;
}

.contactForm {
  height: 100%;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px;
  gap: 64px;
}

.closeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
}

.closeButton:hover > a {
  text-decoration: none;
}

.closeButton a:hover svg {
  background-color: #eeeeee;
  border-radius: 50%;
  transition: background-color 0.1s ease, transform 0.1s ease;
}
.closeButton > svg {
  width: 24px;
  height: 24px;
}

.contactPicture {
  background-color: #ffffff;
  margin: 0px 0px 0px 64px;
}

.contactPicture > img {
  background-color: #ffffff;
  width: 120px;
  height: 120px;
}

.formSection {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: #ffffff;
}

.formButtons > button {
  padding: 18px;
  border: 1px solid #2a3647;
  border-radius: 8px;
  font-size: 18px;
}

.deleteButton {
  color: #2a3647;
  font-weight: bold;
  background-color: #ffffff;
}

.saveButton {
  color: #ffffff;
  font-weight: bold;
  background-color: #2a3647;
}

.deleteButton,
.saveButton,
.cancelButton,
.createContactButton {
  cursor: pointer;
}

.saveContactButton:hover {
  border: 1px solid #70c5ea;
  transition: background-color 0.25s ease;
  background-color: #70c5ea;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

.saveContactButton:hover * {
  background-color: transparent;
}

.saveContactButton {
  color: #ffffff;
  font-weight: bold;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  gap: 4px;
}

.saveContactButton > p {
  font-size: 20px;
}

.deleteButton {
  color: #2a3647;
  font-weight: bold;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 4px;
}

.deleteButton > p {
  font-size: 20px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.deleteButton:hover {
  border: 1px solid #29abe2;
  fill: #29abe2 !important;
  border-color: #29abe2;
  color: #29abe2;
  transition: outline-color 0.25s ease;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

.deleteButton:hover > p {
  color: #29abe2;
  transition: outline-color 0.25s ease;
}

.nameIconEditOverlay {
  position: absolute;
  right: 25px;
  top: 185px;
  pointer-events: none;
}

.mailIconEditOverlay {
  position: absolute;
  right: 25px;
  top: 270px;
  pointer-events: none;
}

.phoneIconEditOverlay {
  position: absolute;
  right: 25px;
  top: 355px;
  pointer-events: none;
}

.mobileFloatingContactWrapper {
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
}

.headlineMobile {
  display: flex;
  flex-direction: column;
  gap: 16px !important;
}

.headlineMobile * {
  color: #000000;
  background-color: transparent;
}

@media (max-width: 1350px) {
  .joinLogoSmall {
    display: none;
  }

  .editContactOverlay {
    width: 396px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .editContactLeftSide {
    width: 396px;
    min-height: 351px;
    border-radius: 32px 32px 0px 0px;
    align-items: flex-start;
  }

  .editContactRightSide {
    width: 396px;
    height: 100%;
  }

  .closeContainer {
    display: flex;
  }

  .contactPicture > svg {
    position: absolute;
    background-color: transparent;
    z-index: 50;
    top: 105px;
    right: 125px;
  }

  .rightSideContentWrapper {
    flex-direction: column;
  }

  .formInput {
    width: 364px !important;
    height: 42px;
    font-size: 18px;
  }

  .contactForm {
    height: 800px !important;
    background-color: transparent !important;
    gap: 0px !important;
    justify-content: flex-start !important;
    padding: 48px;
  }

  .formSection {
    background-color: transparent !important;
    gap: 14px !important;
  }

  .formButtons {
    justify-content: center;
    margin-top: 24px;
  }

  .nameIconEditOverlay {
    right: 60px;
    top: 60px;
  }

  .mailIconEditOverlay {
    right: 60px;
    top: 118px;
  }

  .phoneIconEditOverlay {
    right: 60px;
    top: 172px;
  }

  .detailedContactSectionMobile {
    width: 100%;
    height: 100%;
    padding: 64px;
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #f6f7f8;
  }

  .profileWrapper {
    gap: 20px;
  }

  #surname,
  #lastname {
    font-size: 36px;
    font-weight: 700;
  }
}

@media (max-width: 1080px) {
  .overlayBackground {
    height: 100% !important;
  }
}

@media (max-width: 500px) {
  .editContactLeftSide {
    width: 310px;
  }

  h1 {
    font-size: 36px !important;
  }

  P {
    font-size: 18px !important;
  }

  .contactPicture > svg {
    top: 110px;
    right: 85px;
  }

  .editContactLeftSide {
    width: 310px;
  }

  .formInput {
    width: 280px !important;
    height: 42px;
  }

  .editContactOverlay {
    width: 310px;
  }
}
