body {
  height: 100vh;
  display: flex;
  background-color: rgba(248, 249, 250);
}

.mainContent {
  flex: 1;
  overflow-y: auto;
}

.helpInstructions {
  margin: 64px;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

.list {
  display: flex;
  gap: 30px;
}

.number {
  font-size: 28px;
  font-weight: bold;
}

span {
  color: rgba(42, 170, 226);
}

.helpSectionHeadline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowBack > img {
  width: 22px;
  height: 22px;
}

.arrowBack img:hover {
  cursor: pointer;
  background-color: rgb(222, 222, 222);
  border-radius: 50px;
  transition-duration: 0.2s;
}

@media screen and (max-width: 1400px) {
  body {
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 46px;
  }

  .helpInstructions {
    margin: 30px;
    margin-bottom: 112px;
  }

  .arrowBack > img {
    width: 18px;
    height: 18px;
  }

  /* Disable Hover Effects */

  .arrowBack img:hover {
    background-color: transparent;
  }
}
