@media (max-width: 1400px) {
  .addTaskMain {
    overflow-y: scroll;
    height: calc(100vh - 160px);
  }

  .taskInputContainer {
    flex-direction: column;
    gap: 0;
    flex: 1;
    overflow-x: scroll;
    padding: 8px 8px;
  }

  .taskInputLeft,
  .taskInputRight {
    width: 100%;
  }

  .taskInput p {
    font-size: 24px;
  }

  .addTaskInput {
    padding: 12px 22px;
    font-size: 18px;
    max-width: 1980px;
  }

  .addDescriptionInput {
    padding: 18px 16px;
    font-size: 18px;
  }

  .dropdown {
    max-width: 100%;
  }

  .selectContainer {
    font-size: 18px;
  }

  .priorityButton {
    margin-right: 35px;
  }

  .priorityButton button {
    width: calc(30% - 10px);
    height: 60px;
    font-size: 24px;
  }

  .subtaskWrapper {
    width: 100%;
  }

  .iconWrapper {
    right: 15px;
    bottom: 7px;
  }

  .requiredAction {
    display: flex;
    align-items: center;
    gap: calc(10vw + 30px);
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0;
    padding-top: 10px;
  }

  .requiredText {
    flex-shrink: 1;
    white-space: nowrap;
  }

  form#taskForm h1 {
    margin-bottom: 32px;
    font-size: 48px;
    margin-left: 0;
  }

  form#taskForm {
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 32px 0 32px 32px;
  }

  .scrollAll{
    overflow-y: scroll;
  }

  .subtaskList {
    position: static;
  }
}

@media (max-width: 1000px) {
  form#taskForm {
    height: calc(100vh - 160px);
  }

  .subtaskContent:hover {
    background-color: transparent;
    border-radius: 0;
    cursor: not-allowed;
  }

  .subtaskItem,
  .subtaskIcons {
    display: flex;
  }

  /* Disable Hover Effects */

  .clearButton:hover {
    border: 1px solid #2a3647;
    color: #2a3647;
  }

  .createButton:hover,
  .createButton:hover * {
    background-color: #2a3647 !important;
    transition: inherit;
  }

  .priorityButton button:hover {
    background-color: #fff;
  }

  .priorityButton button.urgent {
    background-color: #ff3d00;
  }

  .priorityButton button.medium {
    background-color: #ffa800;
  }

  .priorityButton button.low {
    background-color: #7ae229;
  }

  .priorityButtonOverlay button:hover {
    background-color: #fff;
  }

  .priorityButtonOverlay button.urgent {
    background-color: #ff3d00;
  }

  .priorityButtonOverlay button.medium {
    background-color: #ffa800;
  }

  .priorityButtonOverlay button.low {
    background-color: #7ae229;
  }

  .dropdownIcon:hover {
    background-color: #fff !important;
  }

  .editSubtask:hover,
  .removeSubtask:hover,
  .confirmEditSubtask:hover,
  .addSubtask img:hover,
  #confirmSubtask:hover,
  #discardSubtask:hover {
    background-color: transparent;
  }

  .subtaskList {
    max-width: 2000px;
    min-width: 200px;
    position: static;
    max-height: 130px;
  }

  form#taskFormOverlay {
    width: 100%;
    padding: 32px;
  }

  #taskFormOverlay h1 {
    font-size: 48px;
    margin-bottom: 0px !important;
  }

  .taskInputContainerOverlay {
    overflow-y: auto;
    padding-right: 10px;
    box-sizing: border-box;
    padding: 28px 0px;
  }

  .addDescriptionInputOverlay {
    font-size: 18px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    position: static;
    width: 880px;
  }

  .priorityButtonOverlay {
    margin-left: 6px;
  }

  .iconWrapperOverlay {
    right: 15px;
    bottom: 6px;
  }

  .subtaskListOverlay {
    position: static;
    max-width: 380px;
    min-width: 380px;
  }
}

@media (max-width: 650px) {
  form#taskForm {
    padding: 32px 16px;
  }

  .taskInput p {
    font-size: 22px;
  }

  .priorityButton {
    gap: 8px;
  }

  .priorityButton button {
    width: 120px;
    font-size: 16px;
    height: 50px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .requiredAction {
    display: block;
  }

  .requiredText {
    display: none;
  }

  .actions {
    margin-right: 0px;
  }
}

@media (max-width: 395px) {
  .taskInput p {
    font-size: 20px;
  }

  .addDescriptionInput {
    padding: 8px 14px 2px 14px;
    font-size: 16px;
  }

  .addTaskInput {
    padding: 10px 14px;
    font-size: 16px;
  }

  .dropdown {
    max-width: 100%;
  }

  .dropdownCategory {
    max-height: 40px;
  }

  .selectContainer {
    font-size: 15px;
  }

  .priorityButton button {
    width: 105px;
    font-size: 16px;
    height: 45px;
  }

  .iconWrapper {
    right: 10px;
    bottom: 4px;
  }
}

@media (max-width: 360px) {
  .priorityButton button {
    width: 90px;
    gap: 4px;
    height: 40px;
  }

  .createButton,
  .clearButton {
    font-size: 18px;
    white-space: nowrap;
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (max-width: 1015px) {
  .overlayTaskContent {
    width: 800px;
    max-width: 800px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    width: 675px;
  }

  .requiredActionOverlay {
    gap: 210px;
  }
}

@media (max-width: 810px) {
  .overlayTaskContent {
    width: 600px;
    max-width: 600px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    width: 475px;
  }

  .requiredActionOverlay {
    gap: 55px;
  }
}

@media (max-width: 767px) {
  .taskInputContainerOverlay {
    max-height: 47vh;
  }
}

@media (max-width: 650px) {
  .overlayTaskContent {
    width: 530px;
    max-width: 530px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    width: 410px;
  }

  .requiredActionOverlay {
    display: block;
    margin-right: 45px;
  }
}

@media (max-width: 545px) {
  .overlayTaskContent {
    width: 480px;
    max-width: 480px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    width: 370px;
  }

  .selectedContacts {
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 20px;
    max-width: 410px;
  }

  .taskInputContainerOverlay {
    width: 46vh;
    padding-right: 35px;
  }

  .priorityButtonOverlay {
    justify-content: space-between;
  }

  .priorityButtonOverlay button {
    padding: 10px;
    gap: 8px;
  }
}

@media (max-width: 490px) {
  .taskInputContainerOverlay::-webkit-scrollbar-thumb {
    display: none;
  }

  .overlayTaskContent {
    width: 420px;
    max-width: 420px;
  }

  .taskInputContainerOverlay {
    width: 40vh;
    padding-right: 5px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    width: 348px;
  }

  .priorityButtonOverlay {
    gap: 2px;
  }

  .priorityButtonOverlay button {
    font-size: 16px;
  }

  .requiredActionOverlay {
    margin-right: 20px;
  }

  .clearButtonOverlay,
  .createButtonOverlay {
    font-size: 18px;
  }
}

@media (max-width: 395px) {
  #taskFormOverlay h1 {
    font-size: 40px;
  }

  .overlayTaskContent {
    width: 370px;
    max-width: 370px;
    max-height: 640px;
    height: 640px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    width: 335px;
  }

  .taskInputContainerOverlay {
    width: 39vh;
    padding-right: 3px;
  }

  .closeTaskOverlay {
    right: 12px;
  }

  .selectContainerOverlay {
    font-size: 14px;
  }

  .addTaskInputOverlay {
    padding: 10px 18px;
    font-size: 14px;
  }

  .addDescriptionInputOverlay {
    width: 92%;
    font-size: 14px;
  }

  .dropdownOverlay {
    width: 100%;
  }

  .iconWrapperOverlay {
    right: 10px;
    bottom: 4px;
  }

  .priorityButtonOverlay button {
    font-size: 14px;
    width: 84px;
  }

  .requiredActionOverlay {
    margin-right: 15px;
  }

  .clearButtonOverlay {
    width: 100px;
  }

  .createButtonOverlay {
    width: 150px;
  }
}

@media (max-width: 375px) {
  .overlayTaskContent {
    width: 340px;
    max-width: 340px;
  }

  .selectContactOverlay.show,
  .selectCategoryOverlay.show {
    width: 270px;
  }

  .taskInputContainerOverlay {
    width: 325px;
  }
}

@media (max-width: 355px) {
  .overlayTaskContent {
    width: 320px;
    max-width: 320px;
  }

  .taskInputContainerOverlay {
    width: 310px;
  }

  .flatpickr-calendar {
    right: -28px !important;
  }
  
  .flatpickr-calendar.open {
    transform: scale(0.8);
  }
  
  .flatpickr-calendar.static {
    top: calc(100% + -24px) !important;
  }
}
