.layoutContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

.mainContent {
  background-color: #f8f9fa;
  height: 100vh;
  width: 100%;
}

.scrollAll {
  overflow-y: hidden;
}

/* Task Form*/
form#taskForm {
  padding: 64px;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
}

form#taskForm h1 {
  font-size: 60px;
}

.taskInputContainer {
  display: flex;
  gap: 48px;
  padding: 18px 0px;
}

.taskSeparator {
  border: none;
  border-left: 1px solid #ccc;
  height: auto;
  margin: 0 10px;
  border-width: 2px;
}

.taskInputLeft,
.taskInputRight {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.taskInput {
  margin-bottom: 20px;
  position: relative;
}

.taskInput p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 6px;
  color: #2a3647;
  font-size: 20px;
}

.taskInput span {
  color: red;
}

.addTaskInput {
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 48px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
}

.addTaskInput:focus {
  border-color: rgba(42, 170, 226, 1);
  outline: none;
}

.addDescriptionInput {
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  max-height: 150px;
  padding: 12px 20px 2px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 5px;
  background: #fff;
  font-size: 16px;
}

.addDescriptionInput:focus {
  border-color: rgba(42, 170, 226, 1);
  outline: none;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 440px;
  background: #fff;
  position: relative;
}

.dropdownCategory {
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 440px;
  height: 100%;
  max-height: 48px;
  margin-bottom: 18px;
  background: #fff;
  position: relative;
}

.dropdown:focus {
  border-color: rgba(42, 170, 226, 1);
  outline: none;
}

.dropdownIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: background-color 0.1s ease;
}

.dropdownIcon img {
  background-color: transparent;
}

/* .dropdownIcon:hover {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.selectContainer {
  background-color: #fff;
  height: 100%;
  outline: none;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  border-radius: 18px;
}

select {
  padding: 10px;
  background: url(/assets/icon/addTask/arrow_drop_downaa.svg) no-repeat right
    10px center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.selectCategory,
.selectContact {
  display: none;
  height: 90px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.selectContact {
  background-color: none;
}

.selectContact {
  height: 150px;
  overflow-y: auto;
}

.selectCategory.show,
.selectContact.show {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  border-radius: 18px;
}

.selectCategoryItem {
  padding: 12px 16px;
  font-size: 18px;
}

.selectContactItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.selectContactItem:last-child {
  border-bottom: none;
}

.selectContactItem:hover {
  background-color: #2a3647;
}

.selectContactItem:hover .contactName,
.selectContactItem.selected .contactName,
.selectContactItem.selected:hover .contactName {
  color: white !important;
}

.selectContactItem.selected {
  background-color: #091931;
  color: white;
}

.selectContactItem:active {
  background-color: #d9d9d9;
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}

.profilePicture {
  width: 38px;
  height: 38px;
  font-size: 14px;
  border: 2px solid white;
  color: white;
  font-weight: 400;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -8px;
}

.moreContactschecked {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: gray;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.contactName {
  flex-grow: 1;
  margin-left: 38px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.contactCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #2a3647;
  border-radius: 4px;
}

.contactCheckbox:checked {
  background-color: #2a3647;
  border-color: #2a3647;
  position: relative;
}

.contactCheckbox:checked::after {
  content: "✔";
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.selectContactItem.selected .contactCheckbox {
  border-color: white;
}

.selectContactItem.selected .contactCheckbox:checked {
  background-color: white;
  border-color: white;
}

.selectContactItem.selected .contactCheckbox:checked::after {
  color: #2a3647;
}

.selectContactItem:hover .contactCheckbox {
  border-color: white;
}

.selectedContacts {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 38px;
}

.priorityButton {
  display: flex;
  justify-content: space-between;
}

.priorityButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 7px;
  gap: 16px;
  color: black;
  width: 136px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.priorityButton button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.priorityButton button.urgent {
  background-color: #ff3d00;
  color: #fff;
  font-weight: 600;
}

.priorityButton button.medium {
  background-color: #ffa800;
  color: #fff;
  font-weight: 600;
}

.priorityButton button.low {
  background-color: #7ae229;
  color: #fff;
  font-weight: 600;
}

button img {
  background-color: transparent;
}

/*Subtask Syling*/
.subtaskContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  margin-top: 8px;
  padding: 5px 26px;
}

.subtaskContent.editing {
  border-bottom: 2px solid #007bff;
  background-color: white;
}

.subtaskContent.editing .subtaskIcons {
  display: flex !important;
}

.editSubtaskInput {
  width: 100%;
  padding: 0 12px;
  border: none;
  outline: none;
  font-size: 16px;
  flex-grow: 1;
}

.subtaskWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.addSubtask {
  background-color: transparent;
}

.addSubtask img {
  background-color: transparent;
}

.editSubtask:hover,
.removeSubtask:hover,
.confirmEditSubtask:hover,
.addSubtask img:hover,
#confirmSubtask:hover,
#discardSubtask:hover {
  background-color: #d9d9d9;
  border-radius: 15px;
  cursor: pointer;
}

.subtaskIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.subtaskList {
  list-style: none;
  padding: 0;
  margin-top: 4px;
  max-height: 110px;
  min-width: 440px;
  overflow-y: auto;
  position: absolute;
}

.subtaskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtaskList li .removeSubtask {
  cursor: pointer;
  font-size: 14px;
}

.subtaskTextWrapper {
  display: flex;
  align-self: center;
  gap: 8px;
  color: #2a3647;
  flex-grow: 1;
}

.subtaskContent:hover {
  background-color: #ededed;
  border-radius: 10px;
  cursor: pointer;
}

.subtaskContent.editing:hover {
  background-color: white;
  border-radius: 0;
}

.bulletPoint {
  font-size: 18px;
  color: #2a3647;
}

.subtaskIcons {
  display: none;
  gap: 10px;
}

.subtaskItem:hover .subtaskIcons {
  display: flex;
}

.iconWrapper {
  position: absolute;
  right: 15px;
  bottom: 6px;
}

#subtaskPlusIcon {
  display: inline;
}

#subtaskIcons {
  display: none;
}

.requiredAction {
  display: flex;
  padding-top: 60px;
  align-items: center;
  width: 100%;
  gap: 535px;
}

.requiredText span {
  color: red;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-right: 12px;
}

.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: transparent;
  color: #2a3647;
  gap: 8px;
  font-size: 20px;
}

.clearButton:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  cursor: pointer;
  fill: #29abe2;
}

.clearButton:hover * > img {
  color: #29abe2 !important;
  fill: #29abe2 !important;
}

.createButton {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 170px;
  border-radius: 10px;
  color: #fff;
  border: none;
  background-color: #2a3647;
}

.createButton img {
  background-color: #2a3647;
}

.createButton:hover,
.createButton:hover * {
  background-color: #29abe2;
  cursor: pointer;
}

.errorBorder {
  border: 1px solid red;
  border-radius: 8px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
  position: relative;
}

.errorMessageAddTask {
  color: red !important;
  font-size: 12px !important;
  margin-top: 2px !important;
}

#errorMessageAddTaskTitle {
  position: relative !important;
  height: 5px;
  margin: 2px !important;
}

#errorMessageAddTaskDueDate {
  position: relative !important;
  height: 5px;
  margin: 2px !important;
}

#errorMessageAddTaskCategory {
  position: relative !important;
  height: 5px;
  margin: 2px !important;
}

/* Calender */

.dateInput {
  background: url("/assets/icon/addTask/calender.png") no-repeat right 10px
    center;
  background-color: #fff;
  background-size: 20px;
  cursor: pointer;
}

.flatpickr-calendar {
  left: auto !important;
  right: -12px !important;
}

.flatpickr-calendar.open {
  transform: scale(0.9);
}

.flatpickr-calendar.static {
  top: calc(100% + -12px) !important;
}

.flatpickr-wrapper {
  width: 100%;
}

.flatpickr-input {
  width: 100% !important;
}

.flatpickr-day {
  color: #393939 !important;
  background: #f0f0f0;
}

.flatpickr-day.selected {
  background: #007bff !important;
  color: white !important;
}

.flatpickr-day:hover {
  background: #2f92fd !important;
}

.past-day {
  background: lightgray !important;
  color: darkgray !important;
  pointer-events: none;
}
