<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join 413</title>
    <link rel="icon" href="" />

    <!-- CSS -->
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/sidebar.css" />
    <link rel="icon" href="/assets/img/join_logo_small.png" />
    <!-- JavaScript -->
    <script src="../script/script.js" defer></script>
  </head>
  <body>
    <div class="sidebar__container" id="sidebar-nav">
      <a class="joinLogoBig" href="/html/summary.html"><img class="sidebar__join-image" src="/assets/img/Join_icon.svg" id="logo" /></a>
      <div class="nav__container" id="navbar">
        <a class="nav-link" href="/html/summary.html?active=summary"> <img class="icon" src="/assets/icon/Summary_icon_grey.svg" id="summery" />Summary </a>
        <a class="nav-link" href="/html/add_task.html?active=add-task"> <img class="icon" src="/assets/icon/Add_task_icon_grey.svg" id="add-task" />Add_Task </a>
        <a class="nav-link" href="/html/board.html?active=board"> <img class="icon" src="/assets/icon/Board_icon_grey.svg" id="board" />Board </a>
        <a class="nav-link" href="/html/contacts.html?active=contacts"> <img class="icon" src="/assets/icon/Contacts_icon_grey.svg" id="contacts" />Contact </a>
      </div>
      <div class="sidebar__footer">
        <a class="privacy-policy" id="privacy-policy">Privacy Policy</a>
        <a class="legal-notice" id="legal-notice">Legal Notice</a>
      </div>
    </div>
  </body>
</html>
