<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join 413</title>
    <link rel="icon" href="">

    <!-- CSS -->
    <link rel="stylesheet" href="./../../style/style.css">
    <link rel="stylesheet" href="./../../style/sidebar.css">
    <!-- JavaScript -->
    <script src="../script/script.js" defer ></script>
</head>
<body>
    <div class="sidebar__container" id="sidebar-nav">
        <img src="./../img/Join_icon.svg" id="logo">
        <div class="nav__container" id="navbar">
            <a><img class="icon" src="./../img/Summary_icon_grey.svg" id="summery">Summary</a>
            <a><img class="icon" src="./../img/Add_task_icon_grey.svg" id="add-task">Add_Task</a>
            <a><img class="icon" src="./../img/Board_icon_grey.svg" id="board">Board</a>
            <a><img class="icon" src="./../img/Contacts_icon_grey.svg" id="contacts">Contact</a>
        </div>
        <div class="sidebar__footer">
            <a id="privacy-policy">Privacy Policy</a>
            <a id="legal-notice">Legal Notice</a>
        </div>
    </div>
</body>
</html>