/* Board CSS */
main {
  padding: 64px;
  height: calc(100% - 96px);
  overflow-y: scroll;
}

.boardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.boardContainer h2 {
  font-size: 60px;
}

.boardControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.boardInputContainer {
  width: 312px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 8px 16px;
  border: 1px solid rgb(168, 168, 168);
}

.boardInputContainer input[type="text"] {
  border: none;
  flex: 1;
  outline: none;
  background-color: #ffffff;
}

.boardInputContainer button {
  background-image: url("/assets/icon/board/search_Button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 15px;
  background-color: white;
}

.boardInputContainer button:hover {
  background-color: #f6f7f8;
  cursor: pointer;
  border-radius: 50%;
}

.boardInputContainer .separator {
  padding: 0 10px;
  color: #888;
  background-color: #ffffff;
}

.boardAddTask {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: rgba(42, 54, 70);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none !important;
}

.boardAddTask p,
.boardAddTask img {
  background-color: rgba(42, 54, 70);
  text-align: center;
}

.boardAddTask:hover,
.boardAddTask:hover * {
  background-color: #29abe2;
  transition: inherit;
}

.boardSectionsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  height: 100%;
}

.boardSectionsSubContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.boardSection {
  width: 244px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.boardSection .sectionPlus {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/icon/board/plus_button-section-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.boardSection .sectionPlus:hover {
  background-image: url("/assets/icon/board/plus_button-section-blue.svg");
}

.boardButton {
  width: 252px;
  height: 48px;
  border: 1px dotted lightgray;
  background-color: rgb(231, 231, 231);
  color: rgb(183, 183, 183);
  border: 1px dashed rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.boardButton:hover {
  background-color: rgb(220, 220, 220);
  color: rgb(163, 163, 163);
}

/* Section add tasks to the board */

.boardTasks {
  padding: 15px 15px;
  cursor: pointer;
  min-width: 250px;
  max-height: 300px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.boardTasksBigger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.boardTaskCategory {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #29abe2;
  padding: 5px;
  border-radius: 10px;
}

.boardTaskTitle {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.boardTaskDescription {
  font-size: 16px;
  color: rgb(183, 183, 183);
  text-align: left;
}

.boardSubTasks {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.boardSubtaskProgress {
  flex-grow: 1;
  max-width: 130px;
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.boardSubtaskProgressBar {
  width: 50%;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}

.boardTaskBottom {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.boardTaskUsers {
  background-color: rgb(183, 183, 183);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardTemplate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80%;
}

.boardTemplate::-webkit-scrollbar {
  display: none;
}

.categoryText {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
}

#boardAddTask {
  font-size: 20px;
  font-weight: 700;
}

#findTask::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.tasksInnerContainer {
  height: 100%;
}
