/* ==================== General Board Layout ==================== */

.boardMain {
  height: calc(100vh - 80px);
  padding: 64px;
  overflow-x: scroll;
}

.mainContentBoard {
  background-color: #f8f9fa;
  width: 100%;
}

.mainContentWrapper {
  height: 100%;
  max-width: 1980px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  gap: 64px;
}

/* ==================== Board Header ==================== */

.boardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boardContainer h2 {
  font-size: 60px;
}

/* ==================== Board Controls ==================== */

.boardControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ===== Search Input Container ===== */

.boardInputContainer {
  width: 312px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 8px 16px;
  border: 1px solid rgb(168, 168, 168);
  background-color: #ffffff;
}

.boardInputContainer:active,
.boardInputContainer:focus-within {
  border: 1px solid #29abe2;
}

.boardInputContainer input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.boardInputContainer button {
  background-image: url("/assets/icon/board/search_Button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.boardInputContainer button:hover {
  background-image: url("/assets/icon/board/searchclick.png");
}

.boardInputContainer .separator {
  padding: 0 10px;
  color: #888;
}

/* ===== Add Task Button ===== */

.boardAddTask {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: rgba(42, 54, 70);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none !important;
}

.boardAddTask p,
.boardAddTask img {
  background-color: rgba(42, 54, 70);
  text-align: center;
}

.boardAddTask:hover,
.boardAddTask:hover * {
  background-color: #29abe2;
  transition: inherit;
}

/* ==================== Board Sections ==================== */

.boardSectionsContainer {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  overflow: scroll;
}

.boardSectionsSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  height: 100%;
}

/* ===== Board Section Headers ===== */

.boardSection {
  width: 244px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.boardSection .sectionPlus {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/icon/board/plus_button-section-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.boardSection .sectionPlus:hover {
  background-image: url("/assets/icon/board/plus_button-section-blue.svg");
}

/* ==================== Board Tasks ==================== */

.boardTasks {
  padding: 15px;
  cursor: grab;
  min-width: 252px;
  max-width: 252px;
  min-height: 252px;
  max-height: 252px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 8px;
}

.boardTasksBigger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/* ===== Task Categories & Titles ===== */

.boardTaskCategory {
  font-size: 16px;
  color: #ffffff;
  background-color: #29abe2;
  padding: 4px 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.boardTaskTitle {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
  color: #2a3647;
}

.boardTaskDescription {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
  text-align: left;
}

/* ===== Task Progress Bar ===== */

.boardSubTasks {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.boardSubtaskProgress {
  flex-grow: 1;
  max-width: 130px;
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.boardSubtaskProgressBar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  z-index: 1000;
  white-space: nowrap;
  transform: translate(-50%, -100%);
}

/* ===== Task Bottom Section ===== */

.boardTaskBottom {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.boardTaskUsers {
  background-color: none;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* ==================== Board Template ==================== */

.boardTemplate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80%;
}

.boardTemplate::-webkit-scrollbar {
  display: none;
}

/* ==================== Miscellaneous ==================== */

.boardButton {
  width: 252px;
  height: 48px;
  border: 1px dashed rgb(199, 199, 199);
  background-color: rgb(231, 231, 231);
  color: rgb(183, 183, 183);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
}

.boardButton * {
  cursor: default;
}

/* ===== Category Texts & Inputs ===== */

.categoryText {
  font-size: 20px;
  font-weight: 700;
  color: #2a3647;
}

#boardAddTask {
  font-size: 20px;
  font-weight: 700;
}

#findTask::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.tasksInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: 100%;
  overflow: auto;
  min-height: 64px;
  overflow-x: hidden;
}

.dragAreaHighlight::after {
  content: "";
  width: 225px;
  height: 225px;
  border: 2px dashed lightgray;
  background-color: transparent;
  pointer-events: none;
  border-radius: 24px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
