/* Anpassungen für Bildschirme bis 1400px */

@media screen and (max-width: 1400px) {
  .boardMain {
    padding: 32px;
    padding-bottom: 80px;
  }

  .mainContentWrapper {
    height: 100%;
    gap: 0px;
  }

  .boardSectionsContainer {
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 32px;
  }

  .editTaskInputOverlay {
    margin-right: 0px;
  }

  .editTaskInput,
  .editDropDown {
    width: 100% !important;
    max-width: 100% !important;
  }

  .boardContainer {
    margin-bottom: 32px;
  }

  .boardInputContainer {
    width: 100%;
    margin: 32px 0px;
  }

  .boardSection {
    width: 100%;
    margin-bottom: 16px;
  }

  .tasksInnerContainer {
    flex-direction: row;
  }

  .boardButton {
    width: 100%;
  }

  .categoryText {
    font-size: 26px;
  }

  .boardSection .sectionPlus {
    width: 30px;
    height: 30px;
  }

  .boardAddTask {
    width: 40px;
    height: 40px;
  }

  /* Disable Hover Effects */

  .boardAddTask:hover,
  .boardAddTask:hover * {
    background-color: rgba(42, 54, 70);
    transition: inherit;
  }
  
  .boardSection .sectionPlus:hover {
    background-image: url("/assets/icon/board/plus_button-section-black.svg");
  }
  
  .boardInputContainer button:hover {
    background-image: url("/assets/icon/board/search_Button.svg");
  }

  .closeBoardOverlay:hover {
    background-color: transparent !important;
  }

  .boardOverlayActionButtonsDelete:hover,
  .boardOverlayActionButtonsEdit:hover {
    color: rgba(42, 54, 70) !important;
    background-color: transparent;
  }
}

/* Anpassungen für Bildschirme bis 950px */
@media screen and (max-width: 950px) {
  .btnDark {
    padding: 3px !important;
  }

  .boardTemplate {
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 300px !important;
  }
}

@media (max-height: 795px) {
  .tasksInnerContainer {
    height: 470px;
  }
}

/* Anpassungen für Bildschirme bis 500px */
@media screen and (max-width: 500px) {
  main {
    padding: 32px 16px 16px 16px;
  }

  .boardOverlayTaskTitle {
    font-size: 38px !important;
  }

  .editTaskInputContainer::-webkit-scrollbar {
    display: none;
  }

  .editPriorityButtonOverlay {
    gap: 5px !important;
  }
}

/* Anpassungen für Bildschirme bis 450px */
@media screen and (max-width: 450px) {
  .editPriorityButtonOverlay button {
    font-size: 14px !important;
    padding: 10px !important;
  }
}

/* Anpassungen für Bildschirme bis 400px */
@media screen and (max-width: 400px) {
  .boardOverlayTaskTitle {
    font-size: 32px !important;
  }
}

/* Zusätzliche Anpassungen für sehr kleine Bildschirme (bis 395px) */
@media screen and (max-width: 395px) {
  .editTaskInputContainer {
    margin-right: 0;
  }

  .editBoardHeader {
    padding-right: 10px !important;
  }

  .boardOverlayAssignedTo ul {
    padding: 0 !important;
  }

  .boardOverlayAssignedTo ul::-webkit-scrollbar-thumb {
    display: none;
  }
}

@media (max-height: 930px) {
  .boardOverlayContainer {
    max-height: 665px !important;
  }

  .editTaskWrapper {
    max-height: 450px !important;
  }
}

@media (max-height: 792px) {
  .boardOverlayAssignedTo ul {
    max-height: 100px !important;
  }

  .editTaskInputContainer {
    max-height: 45vh !important;
  }
}
