@media screen and (max-width: 1350px) {
    .boardSectionsContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    .boardContainer {
        margin-bottom: 10px;
    }

    .boardInputContainer {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .btnDark {
        padding: 5px !important;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 32px 16px 16px 16px;
    }
    
}